
body{
    background-color: #D6D7DA;
    display: flex;

}
h1,h2, h3, p, a{
    font-family: 'Poppins', sans-serif;
}


.contenedor-principal{
    display: flex;
    margin: auto;
    margin-top: 60px;
    height: 40vw;
    width: 55vw;
    
}

/** Seccion Izquieda de la app **/ 
.cont-today{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: left;
    width: 30%;
    background-color: #FFFFFF;
    border-radius: 15px 0 0 15px;
    
}

.contenedor-busqueda{
    width: 70%;
    display: flex;
    align-items: center;
    margin: 30px 20px 15px 0;

}
.icono-busqueda{
    width: 20px;
    height: 20px;
    margin-right: 5px;
}
#buscar-ciudad{
    border: none;
    padding: 10px;
    margin-bottom: 0;
}
#buscar-ciudad::placeholder{
    color: black;
}

.contenedor-imagen-today{
    margin-top: 0;
    height: 15vh;
    width: 12vw;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}
.cont-today h1 {
    width: 70%;
    font-size: 5rem;
    font-weight: 100;
    text-align: left;
    margin: 0;
}
.cont-today h2{
    width: 70%;
    font-size: 1.4rem;
    margin: 0 0 30px 0;
    padding-bottom: 20px;
    border-bottom: 1px solid lightgray;
}

.gris{
    color: lightgray;
}


.cont-today p{
     width: 70%;
     margin: 0 0 10px 0px;
    align-items: center;
     text-align: left;
     color: black;
     font-weight: 600;
}

.contenedor-imagen-ny img {
    width: 100%;
    border-radius: 20px;
}

.contenedor-imagen-ny{
    position: relative;
    display: inline-block;
    text-align: center;
    margin-top: 15px;
    width: 70%;
    border-radius: 20px;
}
.texto-encima{
    position: absolute;
    top: 10px;
    left: 10px;
}
.centrado{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    font-family: 'Poppins', sans-serif;
    font-weight: bolder;
    font-size: 1.2rem;
}

/** Seccion derecha de la app **/
.cont-week{
    display: flex;
    flex-direction: column;
    width: 70%;
    background-color: #F6F6F8;
    border-radius: 0 15px 15px 0;
}


/** navegacion **/
.navegacion{
    display: flex;
    justify-content:space-between;
    padding: 2.8vw;
    
}
.nav{
    display: flex;
    align-items: center;
}
.nav a{
    margin-right: 15px;
    color: black;
    text-decoration: none;
    font-size: 1.2rem;
    font-weight: 600;
    border-bottom: 1px solid black;
}
.grados{
    display: flex;
    align-items: center;
}

.circulo-c{
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
    color: white;
    margin-left: 15px;
    margin-right: 5px;
    background-color: black;
    border-radius: 50%;
    padding: 10px;
}
.circulo-f{
    font-family: 'Poppins', sans-serif;
    font-weight: 700;
    color: black;
    margin-left: 15px;
    margin-right: 5px;
    background-color: white;
    border-radius: 50%;
    padding: 10px;
}
.img-user img{
    width: 100%;
    border-radius: 15px;
}
.img-user{
    width: 50px;
    height: 50px;
    margin-left: 30px;
    border-radius: 15px;
    background-image: url(/img/como_saber_si_le_gustas_a_una_persona_por_whatsapp_5103_600.jpg);
}

.contendor-days-week{
    display: flex;
    justify-content: center;
}

.targeta{
    display: flex;
    flex-direction: column;
    background-color: #FFFFFF;
    margin: 0 5px;
    padding: 5px 17px;
    border-radius: 15px;
}
.targeta p{
    margin: 5px;
    text-align: center;
    font-weight: 600;
    font-size: .8rem;
}

.contenedor-logo-semanal img{
    height: 50px;
    width: 50px;
}

.cont-week h2{
 margin-left: 50px;
 margin-top: 30px;   
}

.contenedor-desc-img{
    display: flex;
    align-items: center;
    width: 70%;
}
.contenedor-des-img p{
    margin: 0;
}

.contenedor-logo-descripcion img{
    height: 35px;
    width: 35px;
    margin-right: 20px;
}
.contenedor-grafico-texto{
    display: flex;
    align-items: center;
    margin: 0;
}
.contenedor-sunrise-sunset{
    display: flex;
    align-items: center;
    margin-top: 10px;
}
#sunrise{
    margin-right: 8px;
}
.contenedor-sunrise-sunset p{
    margin-left: 10px;
    margin-right: 15px;
}

.contenedor-estadisticas{
    display: flex;
    flex-wrap: wrap;
    margin-left: 40px;
}

.contenedor-uv img{
    height: 35px;
    width: 35px;
}
.contenedor-uv{
    display: flex;
    align-items: center;
    margin: 20px;
}
.contenedor-uv p{
    margin-right: 30px;
    font-size: 2rem;
}


.cuadrado{
    display: flex;
    flex-direction: column;
    justify-content: left;
    align-items: center;
    background-color: #FFFFFF;
    margin: 10px 10px;
    height: 170px;
    width: 200px;
    border-radius: 15px;
}
.cuadrado h2, p{
    margin: 0;
    font-weight: 600;
}
.cuadrado h2{
    font-size: 2rem;
    margin-bottom: 15px;
}
#alverage {
    margin-top: 10px;
}
#velocidad-viento{
    margin: 5px 0 0 0;
    font-size: 2rem;
}

.cuadrado h3{
    font-size: .8rem;
    margin: 15px 0;
    color: lightgray;
}
.contenedor-grafico-texto img{
    margin: 0 0 0 30px;
}
.contenedor-grafico-texto h2{
    margin-left: 50px;
    font-size: 2rem;
}